<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
	{{#block "head"}}
    	{{> viewer/head.hbs}}
    {{/block}}
    <body>
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

			{{#block "sidebar"}}
            	{{> viewer/sidebar.hbs}}
            {{/block}}
		
		
            <!-- Header -->
			{{#block "header"}}
            	{{> viewer/header.hbs}}
			{{/block}}
            <!-- END Header -->
			
            <!-- Main Container -->
            <main id="main-container">
			{{#block "content"}}
				
			{{/block}}
            </main>
            <!-- END Main Container -->
            <!-- Footer -->
			{{#block "footer"}}
            <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
				<div class="row">
		            <div class="col-sm-6 col-xs-12">
		                <i class="fa fa-twitter" aria-hidden="true"></i><a class="font-w600" href="https://www.twitter.com/Honybot">Honybot</a> - A Twitchbot by <a class="font-w600" href="https://www.twitter.com/HollySC2">Holly</a>
		            </div>
		            <div class="col-sm-6 col-xs-12">
		            	<div class="text-right">
		                	<a class="font-w600" href="/terms">Terms of Service</a><span> - </span>
		                	<a class="font-w600" href="/privacy">Privacy Policy</a>
		            	</div>
		            </div>
	            </div>
            </footer>
            {{/block}}
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->
		{{#block "javascript"}}
        <script src="/assets/js/core/jquery.min.js"></script>
        <script src="/assets/js/core/bootstrap.min.js"></script>
        <script src="/assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="/assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="/assets/js/core/jquery.appear.min.js"></script>
        <script src="/assets/js/core/jquery.countTo.min.js"></script>
        <script src="/assets/js/core/jquery.placeholder.min.js"></script>
        <script src="/assets/js/core/js.cookie.min.js"></script>
        <script src="/assets/js/app.js"></script>
        {{/block}}
        
    </body>
</html>
