<head>
    <meta charset="utf-8">

    <title>Honybot {{#block "title"}}{{title}}{{/block}}</title>

    <meta name="description" content="Honybot - A Starcraft2 Twitch Chat Bot">
    <meta name="author" content="holly">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#3e4a59" />

    <!-- Icons -->
    <link rel="shortcut icon" href="images/favicons/favicon.ico">

    <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="images/favicons/favicon-192x192.png" sizes="192x192">

    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
    <!-- END Icons -->

    {{#block "stylesheet"}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" id="css-main" href="/assets/css/oneui.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css?m=38592767">
 	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
     
    <!-- PNotify -->
    <link href="/assets/js/vendors/pnotify/dist/pnotify.css" rel="stylesheet" type="text/css" >
    <link href="/assets/js/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet" type="text/css" >
		
	{{/block}}
	
	{{#block "customstylesheets"}}
	{{/block}}
	
	{{#block "analytics"}}
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-88529101-1', 'auto');
		  ga('send', 'pageview');
		</script>
    {{/block}}
 </head>