
{{#partial "content"}}
       <!-- Hero Content -->       
       <div class="bg-image"
			style="background-image: url('http://images.honybot.com/blog/rewards/background2.jpg');">
			<div class="bg-primary-op">
				<section class="content content-full content-boxed overflow-hidden">
					<!-- Section Content -->
					<div class="push-100-t push-100 text-center">
						<h1 class="text-white push-10">Check out the history of changes</h1>
						<h2 class="h3 text-white-op">We always try to improve Honybot and to add new features. Have a look at what already happened</h2>
					</div>
					<!-- END Section Content -->
				</section>
			</div>
		</div>
       <!-- END Hero Content -->

       <!-- About Info -->
       <div class="bg-white">
           <section class="content content-boxed">
               <!-- Section Content -->
               <div class="row items-push push-20-t nice-copy">

                   <div class="col-md-12">
                       <!-- Company Timeline -->
                       <div class="block block-transparent">
                           <div class="block-content">
                               <ul class="list list-timeline pull-t">
                               
                               		<li>
                                       <div class="list-timeline-time">04.02.2018</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Improvements</p>
                                           <p class="font-s13">Removed some unintended features</p>
                                       </div>
                                   </li>
                               
                               		<li>
                                       <div class="list-timeline-time">25.10.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Bet Templates</p>
                                           <p class="font-s13">A second type of bets has been added</p>
                                           <p class="font-s13">Templates can now be created for bets</p>
                                       </div>
                                   </li>
                               
                                   
                               		<li>
                                       <div class="list-timeline-time">21.09.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Rewards <i class="si si-badge"></i></p>
                                           <p class="font-s13">Streamers can now create rewards which can be redeemed by viewers</p>
                                           <p class="font-s13">Some minor fixes and codebase improvements</p>
                                       </div>
                                   </li>
                                   
                               		<li>
                                       <div class="list-timeline-time">zzzZZZzzz</div>
                                       <i class="fa fa-hourglass list-timeline-icon bg-default"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Other projects</p>
                                           <p class="font-s13">Our team developed a starcraft 2 community site. Check out <a href="https://match-history.com/">match-history.com</a></p>
                                       </div>
                                   </li>
                                   
                               		<li>
                                       <div class="list-timeline-time">23.04.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Major Update</p>
                                           <p class="font-s13">A live MMR progression overlay (for sc2) was added</p>
                                           <p class="font-s13">Bets were reworked and the foundation for more flexible bets is laid</p>
                                           <p class="font-s13">Multiple small changes to the points- and VIP-System were added</p>
                                           <p class="font-s13">A lot of additional small changes and fixes happened</p>
                                       </div>
                                   </li>
                                   
                               		<li>
                                       <div class="list-timeline-time">15.04.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">HTTPS</p>
                                           <p class="font-s13">Honybot is secured via HTTPS</p>
                                       </div>
                                   </li>
                               
                               		<li>
                                       <div class="list-timeline-time">19.03.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">MMR dependent quotas</p>
                                           <p class="font-s13">Streamers can now enable automatically calculated betting quotas for Starcraft 2 based on their opponents MMR</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">27.02.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Starcraft 2 Game List</p>
                                           <p class="font-s13">Viewers now see stats about and a list of all Starcraft 2 games played with HonyHelper active</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">27.02.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Automatic Title Updating</p>
                                           <p class="font-s13">You can now specify a title that is refreshed every 2 Minutes with up to date stats like your MMR or current opponent</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">03.02.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Starcraft Games</p>
                                           <p class="font-s13">SC2 games played with HonyHelper active are now saved to database</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">28.01.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-default"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Closed Alpha Started</p>
                                           <p class="font-s13"></p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">05.01.2017</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">New Look</p>
                                           <p class="font-s13">Website has been completely redesigned</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">31.12.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">User Handling Update</p>
                                           <p class="font-s13">Users now log in via twitch.tv</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">28.12.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Backend Update</p>
                                           <p class="font-s13">Settings can now be changed more easily</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">7.12.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Counters added</p>
                                           <p class="font-s13">Custom counters can now be craeted and increased/decreased via commands</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">6.12.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">HonyHelper 2on2/Archon Support</p>
                                           <p class="font-s13">HonyHelper now also starts bets in 2on2 and Archon games</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">30.11.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Betting stats added</p>
                                           <p class="font-s13">Honybot is now again collecting stats about bets</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">20.11.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">!rank added</p>
                                           <p class="font-s13">Shows the streamers current sc2-rank including mmr and other stats</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">12.11.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Viewer Page</p>
                                           <p class="font-s13">Viewers can now check their currency and other stats outside of chat</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">11.11.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Chat Statistics</p>
                                           <p class="font-s13">Honybot starts to gather stats</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">8.11.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">!matchup added</p>
                                           <p class="font-s13">Shows opponents name and race if an sc2 bet starts.</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">8.11.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Custom Commands</p>
                                           <p class="font-s13">Custom Commands can now be created in the backend</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">7.11.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Command Overiew</p>
                                           <p class="font-s13">Overview page for all available commands has been added to the backend</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">1.11.2016</div>
                                       <i class="fa fa-close list-timeline-icon bg-city"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">No more Whispers</p>
                                           <p class="font-s13">Due to twitch.tv limitations, whispers have to be removed</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">30.10.2016</div>
                                       <i class="fa fa-arrow-right list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">!throw added</p>
                                           <p class="font-s13">Users can now throw points which are randomly distributed to other viewers in chat</p>
                                       </div>
                                   </li>
									<li>
                                       <div class="list-timeline-time">27.10.2016</div>
                                       <i class="fa fa-star list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">HonyHelper is released</p>
                                           <p class="font-s13">Bets for Starcraft 2 can now be started automatically</p>
                                       </div>
                                   </li>
                                   <li>
                                       <div class="list-timeline-time">October 2016</div>
                                       <i class="fa fa-repeat list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Ladderbot becomes Honybot: A Web-Application</p>
                                       </div>
                                   </li>
                                   <li>
                                       <div class="list-timeline-time">2015</div>
                                       <i class="fa fa-star list-timeline-icon bg-success"></i>
                                       <div class="list-timeline-content">
                                           <p class="font-w600">Honybot is called Ladderbot and is still a desktop application</p>
                                       </div>
                                   </li>

                               </ul>
                           </div>
                       </div>
                       <!-- END Company Timeline -->
                   </div>
               </div>
               <!-- END Section Content -->
           </section>
       </div>
       <!-- END About Info -->
{{/partial}}

{{>frontend/base.hbs}}