<footer id="page-footer" class="bg-white">
    <div class="content content-boxed">
        <!-- Copyright Info -->
        <div class="push-20 clearfix">
            <div class="row">
	            <div class="col-sm-6 col-xs-12">
	                <i class="fab fa-twitter" aria-hidden="true"></i><a class="font-w600" href="https://www.twitter.com/Honybot">Honybot</a> - A Twitchbot by <a class="font-w600" href="https://www.twitter.com/HollySC2">Holly</a>
	            </div>
	            <div class="col-sm-6 col-xs-12">
	            	<div class="text-right">
	                	<a class="font-w600" href="/terms">Terms of Service</a><span> - </span>
	                	<a class="font-w600" href="/privacy">Privacy Policy</a>
	            	</div>
	            </div>
            </div>
        </div>
        <!-- END Copyright Info -->
    </div>
</footer>